@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Dark-Grayish-Magenta-box: hsla(303, 10%, 53%, 0.1);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "League Spartan";
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 6rem;
}

.above {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overview {
  width: 45%;
  padding: 2rem 2rem 2rem 0rem;
  color: var(--Very-Dark-Magenta);
}

.title {
  min-width: 20rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.description {
  min-width: 25rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--Dark-Grayish-Magenta);
}

.ratings {
  width: 55%;
  min-width: 330px;
  padding-left: 3.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.rating {
  background-color: var(--Dark-Grayish-Magenta-box);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.rate {
  min-width: 13.5rem;
  font-size: 1rem;
  color: var(--Very-Dark-Magenta);
}

.star img {
  width: 12%;
  margin-right: 0.5rem;
}

.ratings div:nth-child(2) {
  margin-left: 3rem;
}

.ratings div:nth-child(3) {
  margin-left: 6rem;
}

.reviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reviews article:nth-child(2) {
  margin-top: 2rem;
}

.reviews article:nth-child(3) {
  margin-top: 4rem;
}

.card {
  background-color: var(--Very-Dark-Magenta);
  color: var(--Light-Grayish-Magenta);
  padding: 2.5rem 2rem;
  min-width: 31%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1.5rem;
}

.photo {
  width: 20%;
  margin-right: 0.1rem;
}

.information {
  width: 80%;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.photo img {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.name {
  font-size: 1rem;
}

.position {
  color: var(--Soft-Pink);
  font-size: 1rem;
  opacity: 0.7;
}

.comments {
  font-size: 0.9rem;
  line-height: 1.5;
  width: 15.38rem;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

@media only screen and (max-width: 1070px) {
  .reviews {
    justify-content: center;
    gap: 1rem;
  }

  .reviews article:nth-child(2),
  .reviews article:nth-child(3) {
    margin-top: 0;
  }

  .ratings div:nth-child(2),
  .ratings div:nth-child(3) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 850px) {
  .ratings {
    padding-left: 0;
  }

  .title,
  .description {
    text-align: center;
    min-width: 0;
  }

  .overview,
  .ratings {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .rating {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .overview {
    margin-top: 2rem;
  }
  .rating {
    flex-direction: column;
    width: 90%;
  }

  .ratings {
    margin-bottom: 1rem;
  }
}
